body{
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif;
  background: url("../img/tlo.jpg");
  color:white;
}
* {
  box-sizing: border-box;
}

canvas{
  background-color: #d3d3d3;
  z-index:1;
}

#controlPanel{
	display:none;
	background-color:rgba(255,255,255,0.8);
	color:black;
	z-index:2;
	cursor: pointer;
}

.poleWalki{
	/*display:none;*/
	background-color:#B0C0B3;
	color:black;
	z-index:3;
	width:800px;
	height:800px;
	position: fixed;
	display: none;
}

.avatar{
	background-color:#7FA489;
	width:180px;
	height:300px;
	margin: 0px 20px 0px 20px;
	border: 1px solid #021a40;
}

.opcje{
	background-color:#7FA489;
	width:180px;
	margin: -200px 20px 160px 20px;
	border: 1px solid #021a40;
}

.enemy{
	background-color:#7FA489;
	width:180px;
	height:300px;
	margin: 0px 0px 0px 20px;
	border: 1px solid #021a40;
}

.fightLog{
	background-color:#98BD9B;
	width:300px;
	height:500px;
	margin: 40px 30px 0px 30px;
	padding: 10px;
	border: 1px solid #021a40;
	overflow: auto;
}
img{
	width:140px;
	height:140px;
	margin:20px 20px 20px 20px;
	background:#ffffff;
	padding:2px;
	border:1px solid #021a40;
}
.hpBorder{
	width:140px;
	height:6px;
	background:white;
	border:1px solid #021a40;
	margin: 0px 20px 5px 20px;
}
.hpBar{
	width:0%;
	height:100%;
	background:red;
}
.manaBorder{
	width:140px;
	height:6px;
	background:white;
	border:1px solid #021a40;
	margin: 0px 20px 5px 20px;
}
.manaBar{
	width:0%;
	height:100%;
	background:blue;
}
p{
	color:white;
	text-shadow: 1px 1px 0px #000;
	font-size: 13px;
	margin: 0 20px 0 20px;
}
div.opcje p {
	cursor: pointer;
}
button {
	color:white;
	text-shadow: 1px 1px 0px #000;
	font-size: 13px;
}

.fightLog::-webkit-scrollbar {
  width: 10px;
}


.fightLog::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 

.fightLog::-webkit-scrollbar-thumb {
  background: #888; 
}


.fightLog::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

